<div class="jumbotron">
    <div class="container">
        <h1>Welcome to GitLab Issues Viewer</h1>
        <h2>To view the issues, click on the link below:</h2>
        <a class="link" href="./issues/">Issues</a>
    </div>
</div>